body {
  background-color: #ffe6ff;
}

p {
  color: #984eb8;
  animation-duration: 2s;
  animation-name: slide-in-from-right;
}

.header {
  background-color: #ffe6ff;
  color: #a456c6;
  padding: 3% 5% 3% 5%;
}

.content {
  background-color: #ffe6ff;
  color: #8a3dab;
  padding: 0% 5% 5% 5%;
}

/* Button */
.btn-sm {
  background-color: #c67ee5;
  border-color: #8a3dab;
}

/* Navigation Bar */
.nav-pills {
  background-color: #c67ee5;
}

.nav-item {
  color: white;
}

.nav-link-active {
  background-color: #a456c6;
}

/* Card */
.card {
  background-color: #f6d2ff;
  animation-duration: 3s;
  animation-name: appear;
}

.col {
  padding: 0% 5% 2% 5%;
}

.card-title {
  color: #763b90;
}

.text-bg-primary {
  background-color: #c67ee5;
}

img {
  width: 10%;
  padding: 1% 1% 1% 0%;
  background-color: #ffe6ff;
  animation-duration: 2s;
  animation-name: slide-in-from-left;
}

/* Animations */
@keyframes slide-in-from-left {
  from {
    translate: -15vw 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slide-in-from-right {
  from {
    translate: 15vw 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}
